{% extends "layout/base.html.twig" %}


{% block main %}
    <div>
        <h1>Welkom op dit feest!</h1>
        <span>Maak je keuze om door te gaan naar het menu</span>
        <button>Ik heb nog geen account</button>
        <button>Inloggen</button>
    </div>
{% endblock %}
