<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Party!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
    {% include 'menu/default.html.twig' %}
    {% block main %} {% endblock %}
</body>
</html>
